@import url(https://fonts.googleapis.com/css?family=Poppins:500,600,700);

:root {
    --main-color: #0000ff;
    --bg-color: #0072a7;
    --light-gray: #D3D3D3;
    --gray: #808080;
    --glaucous: #6082B6;
    --silver: #C0C0C0;
    --light-blue: #ADD8E6;
    --sky-blue: #87CEEB;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all .5s;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    background-position: center;
    background-size: 1000px 1000px;
    background-attachment: fixed;
    object-fit: cover;
    background-repeat: no-repeat;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
    background-color: var(--sky-blue);
    width: 10px;
}

.btn {
    font-size: 18px;
    border: .3rem solid #fff;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    text-transform: capitalize;
    color: #fff;
}

.btn:hover {
    background-color: #fff;
    color: var(--bg-color);
}

header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: var(--bg-color);
    height: 10vh;
    /* border-bottom: 2px solid #fff; */
    box-shadow: 10px 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.wrapper .nav-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 33%;
    top: 30%;
}
.wrapper .nav-area li a {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    transition: all .5s;
}

.wrapper .nav-area li a:hover {
    color: #172935;
}

.logo {
    position: relative;
    left: 0;
    top: 0;
    width: 160px;
    object-fit: contain;
    margin-left: 8rem;
    height: 100%;
}

.login-btn {
    position: absolute;
    right: 14%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.login-btn button {
    background-color: transparent;
    border: .2rem solid #fff;
}

.reg-btn {  
    position: absolute;
    right: 6%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 5%;
    height: 120vh;
    background: url('./assets/gradient-hero-bg.png') no-repeat;
    background-position: center;
    background-size: 100%;
}

.hero-content {
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    font-size: 20px;
}

.hero-content h1 {
    font-size: 6rem;
    margin-bottom: 3rem;
    line-height: 8rem;
}

.hero-content p {
    font-size: 3rem;
    margin-bottom: 4rem;
    width: 60%;
}

.hero-btn {
    font-size: 25px;
    border: .3rem solid #fff;
    border-radius: .5rem;
    padding: 1rem 2rem;
    text-transform: capitalize;
    color: #fff;
}

.hero-btn:hover {
    background-color: #fff;
    color: var(--bg-color);
}

.services__header {
    text-align: center;
    font-size: 60px;
    color: var(--bg-color);
    justify-self: center;
    align-self: center;
    text-transform: capitalize;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto-fill, 200px);
    gap: 30px;
    padding: 30px;
    width: 100%;
}

.item {
    color: var(--light-gray);
    font-size: 18px;
    padding: 20px;
    border: 5px solid var(--bg-color);
    border-radius: 10px;
    background: var(--white);
    position: relative;
}

.item img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.item p {
    font-size: 12px;
    color: #000;
}

.description {
    display: flex;
    width: 40%;
    flex-direction: row;
    text-align: left;
    position: absolute;
    right: 10%;
    top: 20%;
}